@import "_variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Global
.transparent {
  background-color: transparent !important;
}

// End Global

// Home Page

body {
  font-size: $default-font-size !important;
  background-image: url("/assets/images/delicate-silk.jpg");
  height: 100vh;
  padding: 0;
}
.header-style {
  @include transparent;
}
.icon-notification {
  font-size: 20px;
  margin-right: 2rem;
}
.badge-font_size {
  font-size: 8px !important;
}
.icons-grid {
  font-size: 50px;
  background-color: transparent !important;
  border: none !important;
  outline: none;
}

.box-hover {
  cursor: pointer;
  width: 162.1px;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.25);
    // margin: 1rem 1rem 2rem 1rem;
  }
  &label:hover {
    margin: 4rem;
  }
}

// End Home Page

// Login Page

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login {
  height: 80vh;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 8px 5px rgb(106, 175, 230, 0.75);
  overflow: auto;
}
.login_image {
  height: 100%;
  width: 100%;
}
.login_image img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
h3,
p,
h1 {
  font-family: "Inter", sans-serif;
}
.form-signin {
  height: 100%;
  width: 50%;
  padding: 4rem;
}
.input-field {
  height: 4rem;
  width: 80%;
  border: 1px solid rgb(202, 198, 200);
  outline: none;
  padding: 0.5rem 4rem;
  margin-top: 1rem;
  font-size: medium;
  border-radius: 2rem;
}
.input-field:focus {
  border: 0.1rem solid $primary-color;
  height: 4.3rem;
  width: 80.5%;
}
.icon {
  position: absolute;
  padding: 2rem;
  color: rgb(165, 157, 157);
}
.p1 {
  padding: 2rem 0;
  color: rgb(165, 157, 157);
}
.sign-in-button {
  height: 4rem;
  width: 80%;
  border: none;
  outline: none;
  margin: 2rem 0;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: $primary-color;
  transition: all 0.4s ease;
}
.sign-in-button:hover {
  background-color: $primary-color-dark;
}
.links {
  display: inline-flex;
}
.circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: white;
  margin: 3rem 1rem;
  cursor: pointer;
  padding: 1.2rem;
  box-shadow: 0px 0px 9px 3px rgba(106, 175, 230, 0.75);
}
.fa-facebook-f {
  color: blue;
}
.fa-google {
  color: navy;
}
.fa-instagram {
  color: red;
}

.fa-twitter {
  color: dodgerblue;
}
.test {
  color: red;
  background-color: wheat;
}

// End Login Page

// Accounting Page
.sidebar-container {
  // @include transparent;
  height: 94.9vh;
  overflow: auto;
  width: 280px;
  // padding-left: 5px;
}
.sidebar-list_item {
  padding: 5px 20px !important;
}
.list-group-item.active {
  padding: 0.25rem 1rem !important;
}
.list-group-item {
  color: #ffffff !important;
}
.list-group-item-action:hover {
  background-color: rgba(240, 248, 255, 0.179) !important;
}
.list-group-item.active > .sidebar-item_span {
  padding: 0.4rem 1rem;
  border-radius: 25px;
  @include transparent-light;
}
// End Accounting Page
// sidebar
main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: $secondary-color;
}

.scrollarea {
  overflow-y: auto;
}

// End Sidebar
