@import "_variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Global
.transparent-light {
  @include transparent-light;
}
.transparent {
  @include transparent;
}
.input-form {
  border: 1px solid #ffffff99 !important;
  color: white !important;
  font-size: 16px !important;
}
.input-form:focus {
  background-color: var(--bs-form-control-bg);
  border-color: #d4dfe6bf !important;
  box-shadow: 0 0 0 0.25rem #cadbe99c !important;
}
.input-form::placeholder {
  border: 0 !important;
  color: white !important;
  font-size: 16px !important;
}
.radius-addons_left {
  border-radius: 5px 0 0 5px !important;
}
.radius-addons_right {
  border-radius: 0 5px 5px 0 !important;
}
.button-custom {
  font-size: 14px !important;
}
// End Global

// Home Page

body {
  // background: $primary-color; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   $secondary-color,
  //   $primary-color
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   $secondary-color,
  //   $primary-color
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(
  //   -45deg,
  //   $secondary-color,
  //   #6aafe696,
  //   $secondary-color-light,
  //   #6aafe696
  // );
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  font-size: $default-font-size !important;
  background-image: url("/assets/images/delicate-silk.jpg");
  height: 100vh;
  padding: 0;
}
.header-style {
  @include transparent;
}
.icon-notification {
  font-size: 20px;
  margin-right: 2rem;
}
.badge-font_size {
  font-size: 8px !important;
}
.icons-grid {
  font-size: 50px;
  background-color: transparent !important;
  border: none !important;
  outline: none;
}

.box-hover {
  cursor: pointer;
  width: 162.1px;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.25);
    // margin: 1rem 1rem 2rem 1rem;
  }
  &label:hover {
    margin: 4rem;
  }
}

// End Home Page


// Login Page

.login {
  height: 80vh;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgb(106, 175, 230, 0.75);
  overflow: auto;
}
.login_image img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.login-header-title,.login-description-paragraph
{
  color: white !important;
}
.login-form-input
{
  margin: 5rem 0;
}
.form-signin {
  height: 100%;
  padding: 6rem;
}
.input-field {
  height: 4rem;
  width: 80%;
  border: 1px solid rgb(202, 198, 200);
  outline: none;
  padding: 0.5rem 4rem;
  margin-top: 1rem;
  font-size: medium;
  border-radius: 2rem;
  color: white; 
}
.input-field::placeholder {
  border: 0 !important;
  color: white !important;
  font-size: 16px !important;
}
.input-field:focus {
  border:none;
  border-bottom: 0.2rem solid white;
  height: 4.3rem;
  padding: 1rem 4rem;
  background-color: $primary-color;
}
.login-form-icon {
  position: absolute;
  padding: 2rem;
  color: rgba(240, 248, 255) !important;
  font-size: 16px !important;
}
.sign-in-button {
  height: 4rem;
  width: 40%;
  margin: 5rem 0;
  color: white;
  cursor: pointer;
  font-size: 16px !important;
  transition: all 0.4s ease;
}
.sign-in-button:hover {
  background-color: $primary-color !important;
  color: white !important;
}

// End Login Page

// Accounting Page
.sidebar-container {
  // @include transparent;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  width: 234px;
  color: #ffffff;
  direction: rtl;
}
.sidebar-list_item {
  padding: 5px 10px !important;
  color: #ffffff !important;
  font-size: 14px !important;
}
.list-group-item.active {
  padding: 0.25rem 1rem !important;
}
.list-group-item {
  color: #ffffff !important;
}
.sidebar-list_item:hover {
  background-color: rgba(240, 248, 255, 0.179) !important;
}
.list-group-item.active > .sidebar-item_span {
  padding: 0.4rem 1rem;
  border-radius: 25px;
  @include transparent-light;
}
// End Accounting Page
// sidebar
#sidebar {
  font-size: 14px;
  opacity: 1;
  float: right;
  transition: all 0.4s ease;
  &.hide {
    opacity: 0;
    width: 0;
    padding: 0 !important;
  }
}
#small-sidebar {
  opacity: 1;
  float: right;
  transition: all 0.4s ease;
  &.hide {
    opacity: 0;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    transform: translateX(100);
  }
}
.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  font-size: 14px !important;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: rgba(240, 248, 255, 0.179) !important;
  }
  &::after {
    font-family: "FontAwesome";
    content: "\f104";
    line-height: 0;
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
    color: #ffffff;
  }
  &[aria-expanded="true"] {
    color: #ffffff;
  }
  &[aria-expanded="true"]::after {
    transform: rotate(-90deg) translateX(4px);
  }
}
.btn-toggle-nav a {
  padding: 0.1875rem 1.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: rgba(240, 248, 255, 0.179) !important;
}
// .nav-pills .nav-link.active {
//   border-radius: 25px !important;
// }
.nav-pills .nav-link {
  display: block;
  padding: 5px;
  width: 61% !important;
  margin: auto;
  border-radius: 25px !important;
  border: 0 !important;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.2s ease;
  &.active {
    background-color: rgba(240, 248, 255, 0.179) !important;
  }
  &:hover {
    width: 100% !important;
    border-radius: 0 !important;
    background-color: rgba(240, 248, 255, 0.179);
    color: $secondary-color;
  }
  &:focus {
    color: $secondary-color;
  }
}
.tooltip {
  font-size: 13px !important;
}

// End Sidebar
